Repository efabless/caravel_mgmt_soc_litex, pull requests merged in 2022-10, with the labels that each got.

#55 Fix pull definitions again
  verilog/dv/firmware/caravel.h
  verilog/dv/firmware/defs.h
Labels: error, simulation

#58 replace SRAM with DFFRAM
  litex/caravel.py
  litex/caravel_platform.py
  litex/caravel_ram.py
  verilog/dv/firmware/sections.lds
  verilog/dv/generated/csr.h
  verilog/dv/generated/git.h
  verilog/dv/generated/mem.h
  verilog/dv/generated/regions.ld
  verilog/dv/generated/soc.h
  verilog/dv/tests-caravel/mem/mem.c
  verilog/dv/tests-caravel/mem/mem.vcd.hier
  verilog/dv/tests-caravel/mem/mem_tb.v
  verilog/dv/tests-standalone/mem/mem.c
  verilog/dv/tests-standalone/mem/mem_tb.v
  verilog/rtl/mgmt_core.v
  verilog/rtl/mgmt_core_wrapper.v
Labels: RTL

#63 correct defs.h
  verilog/dv/firmware/defs.h
Labels: simulation

#65 change 2nd DFFRAM to 512B
  litex/caravel.py
  litex/caravel_ram.py
  verilog/dv/firmware/sections.lds
  verilog/dv/generated/csr.h
  verilog/dv/generated/git.h
  verilog/dv/generated/mem.h
  verilog/dv/generated/regions.ld
  verilog/dv/generated/soc.h
  verilog/dv/tests-caravel/mem/mem.c
  verilog/dv/tests-standalone/mem/mem.c
  verilog/rtl/mgmt_core.v
Labels: RTL

#49 new environment for simulation automation with cocotb and vcs
  verilog/cvc-pdk/sky130_sram_2kbyte_1rw1r_32x512_8.v
  verilog/dv/firmware/defs.h
  verilog/includes/gl_caravel_vcs.list
  verilog/includes/rtl_caravel_vcs.list
Labels: flow

#73 update DFFRAM names
  litex/caravel_ram.py
  verilog/dv/generated/csr.h
  verilog/dv/generated/git.h
  verilog/dv/generated/mem.h
  verilog/dv/generated/soc.h
  verilog/dv/vip/DFFRAM.v
  verilog/dv/vip/DFFRAM_512.v
  verilog/dv/vip/RAM128.v
  verilog/dv/vip/RAM256.v
  verilog/includes/includes.rtl.caravel
  verilog/includes/includes.rtl.standalone
  verilog/rtl/DFFRAM.v
  verilog/rtl/DFFRAMBB.v
  verilog/rtl/mgmt_core.v
Labels: RTL

#91 add pass-thru signals for mcw
  verilog/dv/tests-standalone/gpio_mgmt/gpio_mgmt_tb.v
  verilog/rtl/mgmt_core_wrapper.v
Labels: RTL

#61 Added a verification testbench for testing GPIO pull-up and pull-down
  verilog/dv/tests-caravel/pass_thru_fix/Makefile
  verilog/dv/tests-caravel/pass_thru_fix/pass_thru_fix.c
  verilog/dv/tests-caravel/pass_thru_fix/pass_thru_fix_tb.v
  verilog/dv/tests-caravel/pullupdown/Makefile
  verilog/dv/tests-caravel/pullupdown/pullupdown.c
  verilog/dv/tests-caravel/pullupdown/pullupdown_tb.v
Labels: simulation
